@inject IJSRuntime JS
@page "/notes/{NoteId}"
@page "/notes/new"

<h3>Note</h3>

<div>NoteId=@NoteId</div>

<button class="button" @onclick="SetIntanceAndExecute">Execute js function</button>

<div>Returned value = @returnedValue</div>

@code {

    [Parameter]
    public string NoteId { get; set; }

    private string returnedValue;

    [JSInvokable]
    public async Task JsCallback(string value)
    {
        returnedValue = value;
    }

    private async Task SetIntanceAndExecute()
    {
        await JS.InvokeVoidAsync("SetDotnetInstance", Microsoft.JSInterop.DotNetObjectReference.Create(this));
        await JS.InvokeVoidAsync("InvokeMethod", " Hola esto es un test " );
    }

}
