@inject INoteService NoteService
@inject NavigationManager NavigationManager


<h3>NotesListComponent</h3>


@if (isLoading)
{
    <LoadingComponent />
}
else
{

    <GenericList Items="notes" Filter="(k=> k.State == Domain.Common.Definitions.StateEnum.Enabled)">
        <ChildContent>
            <NotePreview Note="context" />
        </ChildContent>
        
    </GenericList>

    <NewNoteButton />


}
@code {
    private List<Note> notes = new List<Note>();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var response = await NoteService.GetAllNotes();
        notes = response.ToList();
        isLoading = false;
    }

   

}
