@typeparam T


@if (Items.Count == 0)
{
    @if (ZeroRecordsFragment != null)
    {
        @ZeroRecordsFragment
    }
    else
    {
        <span>Zero records found</span>
    }
}
@foreach (var item in Items.Where(k => Filter?.Invoke(k) ?? true))
{
    @ChildContent(item)
}

@code {
    [Parameter] public List<T> Items { get; set; }
    [Parameter] public RenderFragment<T> ChildContent { get; set; }
    [Parameter] public Predicate<T> Filter { get; set; }
    [Parameter] public RenderFragment ZeroRecordsFragment { get; set; }
}
