
@inherits HelloWorldComponentBase

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @StringUtilities.ToUpper(title)
            </h1>
            <h2 class="subtitle">
                Contador = @contador
            </h2>
            <button @onclick="IncreaseCounter" class="button is-link">Incrementar</button>
        </div>
    </div>
</section>
